<manifest package="io.kristal.shareplugin"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application>
        <provider android:name="io.kristal.shareplugin.dataProvider.ShareContentProvider"
                  android:authorities="io.kristal.shareplugin.SharePlugin"
                  android:grantUriPermissions="true"
                  android:exported="true" />/>
    </application>
</manifest>
